{% extends "core/base_view.html" %}
{% load static %}
{% block content %}
<div class="content-inside">

  <div class="cadastro-core">
  	<button type="button" class="btn btn-outline-info btn-lg btn-block">
  		<a class="navbar-brand" href="{% url 'gestor:cadastro_gestor' %}">GESTOR</a>
  	</button>

  	<button type="button" class="btn btn-outline-info btn-lg btn-block">
  		<a class="navbar-brand" href="{% url 'candidato:cadastro_candidato' %}">CANDIDATO</a>
  	</button>
  </div>

</div>
{% endblock %}