{% extends "core/perfil.html" %}
{% load widget_tweaks %}

{% block title_perfil_gestor_content %}
<li class="breadcrumb-item active" aria-current="page">Cadastrar Pessoa</li>
{% endblock %}

{% block breadcrumb_perfil_gestor_content %}
<a href="{% url 'core:perfil' %}" class="list-group-item">Minha Conta</a>
<a href="{% url 'core:vagas_gestor' %}" class="list-group-item">Gerenciar Vagas</a>
<a href="{% url 'core:update_gestor' %}" class="list-group-item">Alterar Dados</a>
<a href="{% url 'core:update_password_gestor' %}" class="list-group-item">Alterar Senha</a>
<a href="{% url 'core:cadastro_gestor' %}" class="list-group-item active" aria-current="page">Cadastrar Pessoa</a>
{% endblock %}

{% block perfil_gestor_content %}
{% if user.is_authenticated and user.type == '2' %}
<div class="row">
  <div class="col-md-10">
    <h2>Cadastrar Pessoa</h2>
  </div>
  <div class="col-md-2" align="center">
    <a href="{% url 'pessoa:rest_pessoas' %}" class="btn btn-info">VIA API REST</a>
  </div>
</div>
<div>
  <form class="form-group" method="POST">
    {% csrf_token %}
    <fieldset>
      <hr>
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% endfor %} 
      </div>
      <button type="submit" class="btn btn-outline-info">Submit</button>
    </fieldset>
  </form>
</div>
{% endif %}  
{% endblock %}