{% extends "core/base_view.html" %}
{% load static %}
{% block content %}
<div class="content-inside ">
  <div class="row">
    <div class="col-md-12">
      <form class="form-group">
        <div class="input-group input-group-lg mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Buscar vagas">
          <div class="input-group-prepend">
            <button class="btn btn-outline-dark" type="submit" id="inputGroup-sizing-lg">Buscar</button>
          </div>
        </div>
        <hr style="background-color: #000; border: 1px solid;">
        <div id="vagas">
          {% if not object_list %}
          <div class="vaga">
            <div class="row">
              <div class="col-md-12">
                <h5>Nenhuma vaga disponível.</h5>
              </div>
            </div>
          </div>
          {% endif %}
          {% for vaga in object_list %}
          <div class="vaga">
            <div class="row">
              <div class="col-md-12">
                <a href="{{ vaga.get_absolut_url }}"><h3>{{ vaga.title }}</h3></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>{{ vaga.enterprise }}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>{{ vaga.descrition }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" align="left">
                <span>{{ vaga.state }}</span>
                <span>-</span>
                <span>{{ vaga.city }}</span>
              </div>
              <div class="col-md-6" align="right">
                <p>{{ vaga.dt_create.date }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </form>

      <!-- FIM FORM -->

    </div>
  </div>
</div>
{% endblock %}
