{% extends "core/base_view.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated and user.type == '1' %}
<div class="content-inside">
	<h1>{{user.is_authenticated}}</h1>

	  <div class="perfil-candidato">
	  	<div class="row">
	  		<div class="col-md-12">
	  			
	  		</div>
	  	</div>
		<a class="btn btn-outline-info btn-lg btn-block" href="{% url 'core:cadastro_gestor' %}">GESTOR</a>
		<a class="btn btn-outline-info btn-lg btn-block" href="{% url 'core:cadastro_candidato' %}">CANDIDATO</a>
	  </div>
</div>
{% elif user.is_authenticated and user.type == '2' %}
<div class="content-inside">
	<div class="row cabecalho">
		<div class="col-md-7">
			<h1>Bem vindo(a), {{user.name}}!</h1>
		</div>
		<div class="col-md-2" align="right">
			<button class="btn btn-outline-info">Cadastrar Vaga</button>
		</div>
		<div class="col-md-3" align="right">
			<button class="btn btn-outline-info">Cadastrar Pessoa</button>
		</div>
	</div>
  	  <div class="perfil-gestor">
  	  	<div class="row">
	  		<div class="col-md-9">
	  			<h3>Dados Pessoais</h3>
	  		</div>
	  	</div>
	  	<hr>
	  	<!-- fim da row -->

	  	<div class="row">
	  		<div class="col-md-12">
	  			<fieldset>
	  			  <div class="form-group}">
	  			    <label for="{{ user.auto_id }}">Name</label>
	  			    <input type="" name="" class="form-control" readonly="True" value="{{ user.name }}">
	  			  </div>
	  			  <div class="form-group}">
	  			    <label for="{{ user.auto_id }}">E-mail Address</label>
	  			    <input type="" name="" class="form-control" readonly="True" value="{{ user.email }}">
	  			  </div>
	  			  <div class="form-group}">
	  			    <label for="{{ user.auto_id }}">Username</label>
	  			    <input type="" name="" class="form-control" readonly="True" value="{{ user.username }}">
	  			  </div>
	  			  <div class="form-group}">
	  			    <label for="{{ user.auto_id }}">Last Login</label>
	  			    <input type="" name="" class="form-control" readonly="True" value="{{ user.last_login }}">
	  			</fieldset>
		    </div>		
	  	</div>
	  	<hr>
	  	<!-- fim da row -->

	  	<div class="row">
	  		<div class="col-md-9">
	  			<h3>Vagas Cadastradas</h3>
	  		</div>
	  	</div>
	  	<hr>
	  	<!-- fim da row -->
  		<a class="btn btn-outline-info btn-lg btn-block" href="{% url 'core:cadastro_gestor' %}">GESTOR</a>
  		<!-- <a class="btn btn-outline-info btn-lg btn-block" href="{% url 'core:cadastro_candidato' %}">CANDIDATO</a> -->
  	  </div>
</div>
{% else  %}
<div class="content-inside">
	  <div>
		<a class="btn btn-outline-info btn-lg btn-block" href="{% url 'core:login' %}">Você está deslogado. Realizar login?</a>
	  </div>
</div>
{% endif %}
{% endblock %}