{% extends "core/perfil.html" %}
{% load widget_tweaks %}

{% block title_perfil_gestor_content %}
<li class="breadcrumb-item active" aria-current="page">Alterar Senha</li>
{% endblock %}

{% block breadcrumb_perfil_gestor_content %}
<a href="{% url 'core:perfil' %}" class="list-group-item">Minha Conta</a>
<a href="#" class="list-group-item">Gerenciar Vagas</a>
<a href="{% url 'core:update_candidato' %}" class="list-group-item">Alterar Dados</a>
<a href="{% url 'core:update_password_gestor' %}" class="list-group-item" aria-current="page">Alterar Senha</a>
<a href="#" class="list-group-item">Currículo</a>
{% endblock %}

{% block perfil_gestor_content %}
<h2>Alterar Senha</h2>
<div class="content-inside">
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
              <div class="col-md-9">
                {% render_field field class='form-control' %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}