{% extends "core/perfil.html" %}
{% load widget_tweaks %}

{% block title_perfil_candidato_content %}
<li class="breadcrumb-item active" aria-current="page">Alterar Senha</li>
{% endblock %}

{% block breadcrumb_perfil_candidato_content %}
<a href="{% url 'core:perfil' %}" class="list-group-item">Minha Conta</a>
<a href="{% url 'core:vagas_candidato' %}" class="list-group-item">Gerenciar Vagas</a>
<a href="{% url 'core:update_candidato' %}" class="list-group-item">Alterar Dados</a>
<a href="{% url 'core:update_password_candidato' %}" class="list-group-item active" aria-current="page">Alterar Senha</a>
<a href="{% url 'core:curriculo_candidato' %}" class="list-group-item">Currículo</a>
{% endblock %}

{% block perfil_candidato_content %}
<h2>Alterar Senha</h2>
<hr>
<div>
  <form class="form-group" method="POST">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% endfor %} 
      </div>
      <button type="submit" class="btn btn-outline-info">Submit</button>
    </fieldset>
  </form>
</div>
{% endblock %}