html, body {height:100%;}

.form-navbar
{
	padding: 10px;
	margin-right: 10px;
}
#content {
    min-height:100%;
    width:100%;
    padding: 20px;
	background-color: #d3d3d3;

}

.content-inside 
{
	/*overflow:hidden;*/
	/*margin-top: 20px;
	padding: 40px 40px 40px 40px;
	margin: 20px;*/
}

.cadastro-core
{
	align-items: center;	
	background-color: #d3d3d3;
	padding: 30px;
}

#vagas .vaga
{
	border: 2px solid;
	align-items: center;	
	background-color: #d3d3d3;
	padding: 15px;
}

.paginacao
{
	margin-top: 20px;
	align-content: center;
}

/* footer */
footer
{
	opacity: 0.9;
	color: #fff;
	position: relative;
	padding-top: 20px;
    bottom: 0px;
    width: 100%;
    background-color: #000;
}

.content-inside > .cabecalho
{
	align-items: center;
}

.perfil-gestor
{
	border: 1px solid;
	background-color: #d3d3d3;
	padding: 10px;
}

.minha-conta
{
	padding: 0;
}

#login
{
	align-items: center;	
	background-color: #d3d3d3;
	padding: 30px;
}