html, body {height:100%;}

.form-navbar
{
	padding: 10px;
	margin-right: 10px;
}
#content {
    min-height:100%;
    width:100%;
}

.content-inside 
{
	overflow:hidden;
	margin-top: 20px;
	padding: 40px 40px 40px 40px;
	margin: 20px;
}

.cadastro-core
{
	align-items: center;	
	background-color: #d3d3d3;
	padding: 30px;
}

#vagas .vaga
{
	border: 2px solid;
	align-items: center;	
	background-color: #d3d3d3;
	padding: 15px;
}

.paginacao
{
	margin-top: 20px;
	align-content: center;
}

/* footer */
footer
{
	margin-top: 20px;
	position: relative;
	padding-top: 15px;
    bottom: 0px;
    width: 100%;
    background-color: #d3d3d3;
}



#login
{
	align-items: center;	
	background-color: #d3d3d3;
	padding: 30px;
}